<div class="flex flex-col items-center justify-center h-full">
  <h1 class="font-bold text-3xl">Welcome Back!</h1>
  <p>Login now and get your AI suggestions now</p>

  <div class="max-w-[350px] w-full">
    <form [formGroup]="loginForm" class="flex flex-col">
      <input
        class="w-full px-2 py-4 border border-gray-300 rounded-lg mt-8"
        id="email"
        type="email"
        formControlName="email"
        placeholder="Email address"
      />

      <input
        class="w-full px-2 py-4 border border-gray-300 rounded-lg mt-4"
        id="password"
        type="password"
        formControlName="password"
        placeholder="Password"
      />

      <app-button
        text="Login"
        className="text-white bg-slate-700 mt-8"
        (onClick)="onSubmit()"
      />
    </form>

    <hr class="h-2 border-t-2 mt-4" />

    <app-button
      text="Login with Google"
      className="bg-red-300 mt-2"
      (onClick)="onSubmit()"
    />

    <app-link
      href="/auth/sign-up"
      text="Sign Up"
      wrapperClass="w-full bg-red-300 text-center p-2 rounded-lg mt-4"
    />
  </div>
</div>
