<div class="flex">
  <div class="flex-1">
    <img
      class="w-full h-[100vh] object-cover"
      src="https://img.freepik.com/free-photo/glasses-stationery-textbook_23-2147846202.jpg?t=st=1725349155~exp=1725352755~hmac=fbe312b72ccfb7fca43e4968fb5c75d82748fc58f034b92874377916839727d4&w=1060"
      alt="logo"
    />
  </div>

  <div class="flex-1 h-[100vh]">
    <div class="flex flex-col items-center justify-center h-full">
      <h1 class="font-bold text-3xl">Create Account</h1>
      <p>Create an account to get started with your AI suggestions</p>

      <div class="max-w-[350px] w-full">
        <form [formGroup]="loginForm" class="flex flex-col">
          <input
            class="w-full px-2 py-4 border border-gray-300 rounded-lg mt-8"
            id="email"
            type="email"
            formControlName="email"
            placeholder="Email address"
          />

          <input
            class="w-full px-2 py-4 border border-gray-300 rounded-lg mt-4"
            id="password"
            type="password"
            formControlName="password"
            placeholder="Password"
          />

          <input
            class="w-full px-2 py-4 border border-gray-300 rounded-lg mt-4"
            id="confirm-password"
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm password"
          />

          <app-button
            text="Sign Up"
            className="w-full bg-red-300 text-center p-2 rounded-lg mt-8"
            (onClick)="onSubmit()"
          />
        </form>

        <hr class="h-2 border-t-2 mt-4" />

        <app-button
          text="Sign up with Google"
          className="w-full bg-red-300 text-center p-2 rounded-lg mt-2"
          (onClick)="onSubmit()"
        />

        <app-link
          href="/auth/login"
          text="Login"
          className="w-full bg-red-300 text-center p-2 rounded-lg mt-4"
        />
      </div>
    </div>
  </div>
</div>
